/* article */
.content {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.male, .female {
    width: 600px;
    margin: 10px;
    border: 6px outset gray;
}
.line {
    border-right: 2px dotted gray;
}